version: '3'

services:
  web:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/TarixManba
      - /home/username/backup/volumes/tarixmanbabackend_static_volume:/TarixManba/staticfiles
      - /home/username/backup/volumes/tarixmanbabackend_media_volume:/TarixManba/mediafiles
    ports:
      - "8000:8000"
    depends_on:
      - tarix_db

  tarix_db:
    image: postgres:latest
    environment:
      POSTGRES_DB: "tarixmanba_db"
      POSTGRES_USER: "tarixmanba_user"
      POSTGRES_PASSWORD: "tarixmanba_password"
    ports:
      - "5439:5432"
    volumes:
      - /all_db/tarixmanba_bd/db:/var/lib/postgresql/data

volumes:
  postgres_data:
  static_volume:
  media_volume:
